<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="/js/layui-v2.4.3/layui/layui.js"></script>
    <script src="/js/pub_js/time.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jQuery/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/utf8-jsp/ueditor.config.js"></script>
    <script type="text/javascript" src="/js/utf8-jsp/ueditor.all.js"></script>
    <link rel="stylesheet" href="/js/layui-v2.4.3/layui/css/layui.css" media="all">
</head>
<body>
<script type="text/html" id="toolbarDemo">
    <!--<div class="layui-btn-container">-->
    <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    <!--<button class="layui-btn layui-btn-sm" lay-event="del">删除</button>-->
    <!--<button class="layui-btn layui-btn-sm" lay-event="save">新增</button>-->
    <!--<input   style="width: 200px;height: 30px;line-height: 30px"  id="condition">-->
    <!--<button class="layui-btn layui-btn-sm" lay-event="lookFor">搜索</button>-->
    <!--<button class="layui-btn layui-btn-sm" lay-event="check">检查</button>-->
</script>
<div style="padding: 15px;">
    <table id="test" style="height: 100%" lay-filter="park">
    </table>
</div>

</div>

<script>
    layui.use('table', function () {
        var layer = layui.layer;
        var table = layui.table;
        var $ = layui.jquery;
        $.ajaxSetup({
            headers: {
                "Authorization": window.localStorage.getItem("token")
            }
        });
        table.render({
            height: 'full-200',
            elem: '#test',
            url: '/file/files',
            toolbar: '#toolbarDemo',
            title: '课程管理',
            page: true,
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: "id", sort: false},
                {field: 'name', title: "文件名称", sort: false},
                {field: 'course', title: "所属课程", sort: false},

            ]]
        });
        table.on('toolbar(park)', function (obj) {
            if (obj.event == "add") {
                layer.open({
                    id: "save",
                    type: 2,
                    content: 'openviews/importFile.html',
                    offset: ['20px'],
                    area: ['800px', '600px'],
                });
            }

            else if (obj.event == 'delete') {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                var JsonData = data[0];
                console.log(JsonData);
                if (data.length < 1) {
                    layer.alert("请选择一条记录");
                }
                else if (data.length > 1) {
                    layer.alert("请选区单个记录！");
                } else {
                    if (confirm("确定删除？")) {
                        $.ajax({
                            type: "delete",
                            url: "/course/delete",
                            data: {"id": JsonData.id},
                            success: function (result) {
                                if (result.msg == "success") {
                                    table.reload("test")
                                }
                            }
                        });
                    }
                }
            }
            else if (obj.event = 'out') {
                layer.open({
                    id: "save",
                    type: 2,
                    content: 'openviews/importCourse.html',
                    offset: ['20px'],
                    area: ['800px', '600px'],
                });
            }
        });
    });

</script>


</body>
</html>