<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>题库</title>
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="/js/layui-v2.4.3/layui/layui.js"></script>
    <script src="/js/pub_js/time.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/js/jQuery/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/utf8-jsp/ueditor.config.js"></script>
    <script type="text/javascript" src="/js/utf8-jsp/ueditor.all.js"></script>
    <style type="text/css">
        .layui-table-page {
            position:fixed;
        }
    </style>
    <link rel="stylesheet" href="/js/layui-v2.4.3/layui/css/layui.css" media="all">
</head>
<body>
<script type="text/html" id="toolbarDemo">
    <!--<div class="layui-btn-container">-->
    <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="out">批量新增</button>
    <!--<button class="layui-btn layui-btn-sm" lay-event="del">删除</button>-->
    <!--<button class="layui-btn layui-btn-sm" lay-event="save">新增</button>-->
    <!--<input   style="width: 200px;height: 30px;line-height: 30px"  id="condition">-->
    <!--<button class="layui-btn layui-btn-sm" lay-event="lookFor">搜索</button>-->
    <!--<button class="layui-btn layui-btn-sm" lay-event="check">检查</button>-->
</script>
<div style="padding: 15px;">
    <table id="test" style="height: 100%" lay-filter="park">
    </table>
</div>

</div>

<script>
    layui.use('table', function () {
        var layer = layui.layer;
        var table = layui.table;
        var $ = layui.jquery;
        $.ajaxSetup({
            headers: {
                "Authorization": window.localStorage.getItem("token")
            }
        });
        table.render({
            height: 'full-100',
            elem: '#test',
            url: '/questionChoice/list',
            toolbar: '#toolbarDemo',
            title: '题库',
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: "id", sort: false},
                {field: 'name', title: "课程名称", sort: false},
                {field: 'content', title: "题目内容", sort: false},
                {field: 'a', title: "选项A", sort: false},
                {field: 'b', title: "选项B", sort: false},
                {field: 'c', title: "选项C", sort: false},
                {field: 'd', title: "选项D", sort: false},
                {field: 'answer', title: "题目答案", sort: false},
                {field: 'type', title: "题目类型", sort: false},
            ]],page: true
        });
        table.on('toolbar(park)', function (obj) {
            if (obj.event == "add") {
                layer.open({
                    id: "save",
                    type: 2,
                    content: 'openviews/addChoice.html',
                    offset: ['20px'],
                    area: ['800px', '600px'],
                });
            }
            else if (obj.event == 'update') {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                var JsonData = data[0];
                console.log(JsonData);
                if (data.length < 1) {
                    alert("请选中一条记录");
                }
                else if (data.length > 1) {
                    alert("请选中单挑记录进性修改");
                }
                else {
                    layer.open({
                        id: "update",
                        type: 2,
                        content: "openviews/updateChoice.html",
                        area: ['800px', '600px'],
                        offset: ['20px'],
                        success: function (selector, index) {
                            var body = layer.getChildFrame('body', index);
                            var iframeWin = window[selector.find('iframe')[0]['name']];
                            console.log(JsonData.content);
                            body.find('#id').val(JsonData.id);
                            body.find('#name').val(JsonData.name);
                            body.find('#content').val(JsonData.content);
                            body.find('#a').val(JsonData.a);
                            body.find('#b').val(JsonData.b);
                            body.find('#c').val(JsonData.c);
                            body.find('#d').val(JsonData.d);
                            body.find('#answer').val(JsonData.answer);
                        }
                    });
                }
            }
            else if (obj.event == 'delete') {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                var JsonData = data[0];
                console.log(JsonData);
                if (data.length < 1) {
                    layer.alert("请选择一条记录");
                }
                else if (data.length > 1) {
                    layer.alert("请选区单个记录！");
                } else {
                    if (confirm("确定删除？")) {
                        $.ajax({
                            type: "delete",
                            url: "/questionChoice/delete",
                            data: {"id": JsonData.id},
                            success: function (result) {
                                if (result.msg == "success") {
                                    table.reload("test")
                                }
                            }
                        });
                    }
                }
            }
            else if (obj.event == 'out') {
                layer.open({
                    id: "save",
                    type: 2,
                    content: 'openviews/importChoice.html',
                    offset: ['20px'],
                    area: ['800px', '600px'],
                });
            }
        });
    });

</script>


</body>
</html>