<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <script src="/js/layui-v2.4.3/layui/layui.js"></script>
    <script type="text/javascript" src="../js/jQuery/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jQuery/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/jQuery/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../js/jQuery/themes/icon.css"/>
    <link rel="stylesheet" href="/js/layui-v2.4.3/layui/css/layui.css" media="all"/>
</head>
<body>
</body>
</html>